.text-center{
    text-align: center;
  }
  .bg-red{
    background-color: #0c8992;
    
  }
  .mx-auto{
    margin:auto;
    width: 500px;
  }
  .flex{
    display:flex;
  }
  .flex-col{
    flex-direction: column;
  }